div.wrap {
    width:800px;
    margin:0 auto;
}

div.content { width: 960px }

body {
  background-color: black;
  color: white;
}

h1 {
  background-color: black;
  color: green;
}

h2 {
  background-color: black;
  color: steelblue;
}

h3 {
  background-color: black;
  color: lightsteelblue;
}